.topSectionPlaying-3jAH9b{
  background: linear-gradient(90deg, #738EF5, #00c9ff);
  background-size: 200% 200%;
  animation: gradientAnim 25s ease infinite;
}

.headerPlaying-2eYqm9{
  background: linear-gradient(90deg, #738EF5, #00c9ff);
  background-size: 200% 200%;
  animation: gradientAnim 25s ease infinite;
}

.body-3rkFrF {
  padding: 15px;
}
.footer-2J5zqP {
  padding: 15px;
}